<h1>Simple Ecommerce WEB APP</h1>
<h2>Simplifica tu tienda en linea</h2>
<img src="images/negocioweb.jpg" alt="SimpleEcomers">
<link rel="stylesheet" href="/stylesheets/style.css">
<form action="/hook" method="POST">


<label for="txtEmail">Reserva tu lugar para ser de los primeros en usarlos</label>
<input type="email" value="" placeholder="tucorreo@correo.com" name="txtemail" id="txtemail">

<br>
<button type="submit" name="btnAdd" id="btnAdd">Quiero Participar</button>

</form>